*{
  border: 1px solid blue;
}
body{
  background: yellow;
  margin: 0;
  padding: 0;
}

/******************   HEADER     *****************/
header{
  background: red;
  background: url('images/nuclear.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 700px;
  color: white;
}
.header-container{
  margin: auto;
}
/********   navigation bar     ********/
.nav-bar{
  float: right;
  text-align: right;
  margin-top: 20px;
}
.nav-bar:after{
  content: '';
  display: table;
  clear: both;
}
.nav-bar li{
  display: inline-block;
  padding: 10px 15px;
}
/******************   MAIN     *****************/
/******************   FOOTER     *****************/